# Ignore all
*

# Add back files with extensions and directories
!*.*
!*/
!testcoverage
!.travis.yml

# Ignore debug
*.debug

# Ignore test
*.test

.DS_Store

*.bkp

vendor/

testdata/blacklist.log

.coveralls.yml

.vscode/

*.VC.db

*.lock

internal/edgeos/bkp

*.log

.idea/