# Ignore all
*

# Add back files with extensions and directories
!*.*
!*/
!testcoverage

# Ignore debug
*.debug

# Ignore test
*.test

.DS_Store

*.bkp

vendor/golang.org/x/crypto/

vendor/github.com/golang/glog/

vendor/gopkg.in/gemnasium/logrus-airbrake-hook.v2/

vendor/gopkg.in/airbrake/gobrake.v2/

vendor/github.com/Sirupsen/logrus/

vendor/github.com/mattn/go-colorable/

testdata/blacklist.log

.coveralls.yml

vendor/github.com/britannic/testutils/

.vscode/launch.json

browse.VC.db



vendor/github.com/fatih/structs/

*.lock

vendor/github.com/smartystreets/goconvey/
